{{> head }}
{{> navbar }}

<div class="row">
    <div clss="col-8">
        <h1>Castlecrashers Red Knight</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/red-Knight.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}